.head{
    font-size: 3.5rem;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-block: 2rem;
    padding-inline: 1.2rem;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-inline: 3rem;
    background: rgb(114,63,158);
    background: linear-gradient(66deg, rgba(201, 225, 251, 0.374) 0%, rgba(190, 241, 250, 0.729) 66%, rgba(236, 131, 178, 0.659) 100%);
    padding-block: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 250px;
    width: 100%;
    background-color: white;
    min-height: 950px;
    padding: 30px 20px;
    border-radius: 15px;
    gap: 1rem;
    flex: 1;
   
}

.card > *{
    flex: 1;
}


.tierImg{
    max-width: 300px;
    height: 150px;
}

.tierImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2{
    font-size: 2.1rem;
    font-weight: 700;
}

.card h3{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .5px;
}

.price{
    display: flex;
    align-items: center;
}

.price h3{
    font-size: 2rem;
    font-weight: 800;
}

.price h4{
    padding-bottom: 1rem;
}
.price p{
    padding-top: .8rem;
    color: grey;
}

.duration{
    color: grey;
    padding-block: .5rem;
    font-weight: 400;
    letter-spacing: .5px;
}

.cta{
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    height: fit-content;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 50px;
    
}

.prodUl{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.prodList{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}



@media (max-width: 800px) {
    .head{
        font-size: 1.5rem;
        /* text-align: left; */
    }
}


@media (max-width: 800px) {
    .title h2{
        font-size: 2rem;
    }

    .cta{
        font-size: 1rem;
    }
}



/* This is the addons page */


.grid {
    display: flex;
    gap: 1rem;
   
}

.center{
    margin: 0 auto;
    max-width: 1000px;
    padding-inline: 2rem;

}

.center > h2{
    text-align: center;
    font-size: 3.3rem;
    padding-block: 3rem;
}

.flexGr{
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 1.3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    flex: 1;
}


.wa_flex{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.flexGr h2, .flexGr2 h2{
    font-size: 1.4rem;
    font-weight: 700;
    padding-block: .5rem;
}

.flexGr p:first-of-type{
    font-size: 1.3rem;
    color: grey;
    font-weight: 500;
    padding-bottom: 1rem;
}

.duration{
    font-size: 1.3rem;
    color: grey;
    font-weight: 500;

}




.flexGr2{
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
    padding: 3rem 1rem;
    gap: 1.3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    width: 100%;
}

.deets{
    line-height: 1.5rem;
    font-size: .95rem;
}


@media (max-width: 800px) {
    .grid {
        flex-direction: column;
    }
    .flexGr{
        max-width: 600px;
        width: 100%;
    }
    .wa_flex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    
}
