h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 3rem;
}

.main-text{
    max-width: 900px;
}

.main-text h3{
    padding-block: 2rem;
    line-height: 2rem;
    color: grey;
}


.hero-content h1{
    font-size: 5rem;
    text-align: center;
}
.hero-content h3{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .2px;
    padding-inline: 2rem;
    text-align: center;
}



.player-wrapper{
    max-width: 900px;
    max-height: 450px;
    border-radius: 25px;
    transform: scale(.85);
    overflow: hidden;
}


.section2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 6rem;
}


.center-text{
    text-align: center;
    font-size: var(--sub-head-text);
    padding-block: 3rem;
}

.center-text-small{
    text-align: center;
    font-size: var(--sub-head-text);
    max-width: 900px;
    margin: 0 auto;
    padding-inline: 1.3rem;
}


/* This is for the Feature Component */
.feature {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px; 
    margin: 0 auto;
}

.featureIcon{
    width: 50px;
}

.featureIcon img{
    width: 100%;
    object-fit: cover;
}

.category{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature p{
    font-weight: 600;
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .featureIcon{
        width: 30px;
    }
    .feature p{
        font-size: 1.1rem;
        font-weight: 500;
    }
    .category{
        flex-direction: row;
        justify-content: center;
    }
}


/* This is for the sliding carousel */
.clip{
    max-width: 1100px;
    margin: 0 auto;
    mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 5%, black 15%, black 85%, rgba(0, 0, 0, 0.5) 95%, transparent 100%);
    overflow-x: hidden;

}


.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: slideAnimation 40s linear 0s infinite ;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(600px); 
    }
    100% {
        transform: translateX(calc(-100% + 25rem));
    }
}


.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 5rem;
}

.section3 h2{
    font-size: 3rem;
}

.section3 h3{
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 750px;
    text-align: center;
    line-height: 2.3rem;
}





/* .slider div */

.card-flex { /*this is a parent class*/
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}


.card-comp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-inline: 2rem;
}

.card-text{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-text h2{
    font-size: 1.7rem;
    font-weight: 700;

}
.card-text p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;

}

@media (max-width: 1034px) {
    .card-comp{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    }
    .card-text{
        width: 100%;
    }

    .main-text{
        padding-inline: 2rem;
    }

    .main-text h1{
        font-size: 3rem;
        text-align: left;
        padding-bottom: 1.5rem;
    }
    .main-text h3{
        padding-block: 2rem;
        text-align: left;
        padding-inline: .3rem;
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .section3{
        padding-inline: 1.3rem;
    }

    .section3 h2{
        font-size: 2rem ;
    }
    .section3 h3{
        font-size: 1rem;
        line-height: 2rem;

    }
    .center-text{
        font-size: 1.3rem;
        padding-inline: 1.3rem;
    }
    .center-text-small{
        font-size: 1.3rem;
        padding-inline: 1.3rem;
    }
    .card-text p{
        font-size: 1rem;
    }
    .text-group p{
        font-size: 1rem;
        line-height: 2rem;
    }
}


/* This is the BestOption section */





.BestOptionFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 3rem;
}

.BestOptionFlex h2{
    font-size: 2rem;
    padding-block: 4rem;
    text-align: center;
}


.bestMainFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.bestCardsFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
}

.bestImg{
    max-width: 200px;
}
.bestImg img{
    width: 100%;
    object-fit: cover;
}




.text-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
    padding-inline: 1rem;
}

.text-group h3{
    font-size: 1.7rem;
    color: var(--accent-color);
}

.text-group p{
    font-size: 1.2rem;
    line-height: 2rem;
}

@media (max-width:1034px) {
    .text-group p{
        font-size: 1rem;
        line-height: 2rem;
    }
    
}

