.learn img{
    width: 20px;

}

.learn{
    display: flex;
    align-items: center;
    line-height: 20px;
    gap: .5rem;
    font-weight: 700;
    font-size: 1.2rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.animSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 5rem;
}






.slide1{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    max-width: 380px;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: rgba(183, 23, 42, 0.3) 0px 0px 1.875rem 0px;
    min-height: 482px;

}

.slide1 .img{
    max-width: 90px ;
}

.img img{
    width: 100%;
}

.textGroup{
    display: flex;
    flex-direction: column;
    padding-block-end: 1rem;
    flex-grow: 1; 
}

.textGroup h2{
    font-size: 5rem;
    font-weight: 400;
}

.slide1 p{
    font-size: 1.1rem;
    letter-spacing: .6px;
    text-align: center;
    font-weight: 400;
    line-height: 1.4rem;
}



/* second slide */

.textMain p{
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left;
    line-height: 2rem;

}